# Node dependencies
node_modules/

# Build output
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

/data/

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/